body {
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    height: 200px;
    object-fit: cover;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;

    background-color: violet;
    min-height: 45px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 16px;
}

.photo-card {
    flex-basis: calc((100% - 60px) /4);
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    display: flex;
    gap: 10px;
    text-align: center;
}